name: benchmark
version: 5.4.5
description: >
  Benchmark, not for publishing.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2.0.0-dev <2.0.0'

dependencies:
  browser: any
  built_collection: '>=2.0.0 <4.0.0'
  built_value: ^5.4.5

dev_dependencies:
  build_runner: ^0.7.9
  built_value_generator: ^5.4.5
  quiver: '>=0.21.0 <0.30.0'
  test: any
