name: benchmark
version: 8.11.0
publish_to: none
description: >
  Benchmark, not for publishing.
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  built_collection: ^5.0.0
  built_value: ^8.8.0

dev_dependencies:
  build_runner: '>=1.0.0 <3.0.0'
  built_value_generator: ^8.11.0
  dart_flutter_team_lints: ^3.5.2
  quiver: '>=0.21.0 <4.0.0'
  test: ^1.0.0

dependency_overrides:
  built_value:
    path: ../built_value
  built_value_generator:
    path: ../built_value_generator
