name: example
version: 3.0.0
description: >
  Just an example, not for publishing.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=1.8.0 <2.0.0'

dependencies:
  meta: ^1.0.4
  built_collection: ^1.0.0
# built_value: ^3.0.0
  built_value:
    path: ../built_value

dev_dependencies:
  build: ^0.10.0
  build_runner: ^0.4.0
# built_value_generator: ^3.0.0
  built_value_generator:
    path: ../built_value_generator
  source_gen: ^0.7.0
  quiver: '>=0.21.0 <0.26.0'
  test: any
