name: built_value_generator
version: 5.1.1
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library is the dev dependency.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=1.12.0-dev.5.10 <2.0.0'

dependencies:
  analyzer: '>=0.29.0 <0.31.0'
  build: ^0.11.1
  built_collection: '>=2.0.0 <4.0.0'
# built_value: ^5.1.1
  built_value:
    path: ../built_value
  source_gen: ^0.7.0
  quiver: '>=0.21.0 <0.29.0'

dev_dependencies:
  build_test: ^0.9.0
  build_runner: ^0.6.0
  test: any
