name: built_value_generator
version: 6.1.6
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library is the dev dependency.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2.0.0-dev <3.0.0'

dependencies:
  analyzer: ^0.33.3
  analyzer_plugin: ^0.0.1-alpha.5
  build: ^1.0.0
  build_config: ^0.3.1
  built_collection: '>=2.0.0 <5.0.0'
  built_value: '>=5.5.5 <7.0.0'
  source_gen: ^0.9.0
  quiver: '>=0.21.0 <3.0.0'

dev_dependencies:
  build_test: ^0.10.3
  build_runner: ^1.0.0
  test: ^1.0.0

dependency_overrides:
  built_value:
    path: ../built_value
