name: built_value_generator
version: 0.4.1
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library is the dev dependency.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=1.12.0-dev.5.10 <2.0.0'

dependencies:
  analyzer: '>=0.28.0 <0.29.0'
  build: '^0.4.1'
  built_collection: '^1.0.0'
#  built_value: '^0.4.1'
  built_value:
    path: ../built_value
  meta: '^1.0.4'
  source_gen: '>=0.5.0+03 <0.6.0'
  quiver: '>=0.21.0 <0.24.0'

dev_dependencies:
  build_test: '^0.2.0'
  test: any
