name: built_value_test
version: 8.11.0
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library provides test support.
repository: https://github.com/google/built_value.dart/tree/master/built_value_test
topics:
 - testing
 - built-value
 - codegen
 - build-runner

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  built_collection: ^5.0.0
  built_value: ^8.7.0
  collection: ^1.0.0
  matcher: ^0.12.0
  quiver: '>=0.21.0 <4.0.0'

dev_dependencies:
  build_runner: '>=1.0.0 <3.0.0'
  built_value_generator: ^8.11.0
  dart_flutter_team_lints: ^3.5.2
  test: ^1.0.0

dependency_overrides:
  built_value:
    path: ../built_value
  built_value_generator:
    path: ../built_value_generator
