name: built_value_test
version: 8.1.0
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library provides test support.
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  built_value: ^8.0.0
  built_collection: ^5.0.0
  collection: ^1.0.0
  matcher: ^0.12.0
  quiver: '>=0.21.0 <4.0.0'

dev_dependencies:
  built_value_generator: ^8.1.0
  build_runner: '>=1.0.0 <3.0.0'
  pedantic: ^1.4.0
  test: ^1.0.0
