name: built_value_test
version: 5.2.0
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library provides test support.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2-0-0-dev <2.0.0'

dependencies:
  built_value: ^5.2.0
  built_collection: '>=2.0.0 <4.0.0'
  collection: ^1.0.0
  quiver: '>=0.21.0 <0.29.0'
  test: any

dev_dependencies:
  build_runner: ^0.7.9
  built_value_generator:
    path: ../built_value_generator

dependency_overrides:
  built_value:
    path: ../built_value
