name: built_value_test
version: 2.0.0
description: >
  Value types with builders, Dart classes as enums, and serialization.
  This library provides test support.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=1.8.0 <2.0.0'

dependencies:
# built_value: ^2.0.0
  built_value:
    path: ../built_value
  built_collection: ^1.0.0
  collection: ^1.0.0
  quiver: '>=0.21.0 <0.26.0'
  test: any

dev_dependencies:
  build: ^0.9.0
  build_runner: ^0.3.2
# built_value_generator: ^2.0.0
  built_value_generator:
    path: ../built_value_generator
  source_gen: ^0.7.0
