name: chat_example
version: 8.9.2
publish_to: none
description: >
  Just an example, not for publishing.
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  built_collection: ^5.0.0
  built_value: ^8.7.0
  shelf: ^1.0.0
  shelf_proxy: ^1.0.0
  shelf_web_socket: ^1.0.0
  web_socket_channel: ^2.0.0

dev_dependencies:
  build_runner: any
  build_test: any
  build_web_compilers: any
  built_value_generator: ^8.9.2
  pedantic: ^1.4.0
  test: ^1.0.0

dependency_overrides:
  built_value:
    path: ../built_value
  built_value_generator:
    path: ../built_value_generator
