name: chat_example
version: 8.1.0
publish_to: none
description: >
  Just an example, not for publishing.
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2.2.0 <3.0.0'

dependencies:
  built_collection: ^5.0.0
  built_value: ^8.0.0
  shelf: ^0.7.3
  shelf_proxy: ^0.1.0
  shelf_web_socket: ^0.2.2
  web_socket_channel: ^1.0.0

dev_dependencies:
  build_runner: any
  build_test: any
  build_web_compilers: any
  built_value_generator: ^8.1.0
  pedantic: ^1.4.0
  test: ^1.0.0
