name: chat_example
version: 6.1.0
description: >
  Just an example, not for publishing.
authors:
- David Morgan <davidmorgan@google.com>
homepage: https://github.com/google/built_value.dart

environment:
  sdk: '>=2.0.0-dev <3.0.0'

dependencies:
  built_collection: '>=2.0.0 <5.0.0'
  built_value: '>=5.5.5 <7.0.0'
  shelf: ^0.7.3
  shelf_proxy: ^0.1.0
  shelf_web_socket: ^0.2.2
  web_socket_channel: ^1.0.0

dev_dependencies:
  build_runner: ^0.9.0
  built_value_generator: ^6.1.0
  test: ^1.0.0
